.session-cell {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  width: calc(100% - 2em);
  padding: 0 1em;
  background-color: aqua;
}

.session-cell .session-title {
  font-weight: 500;
}
